.product-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 23%;
  height: 418px;
  padding: 20px;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  text-align: center;
  @media screen and (max-width: 1284px) {
    width: 25%;
  }
  @media screen and (max-width: 839px) {
    width: 30%;
  }
  @media screen and (max-width: 610px) {
    width: 45%;
  }
  @media screen and (max-width: 470px) {
    width: 70%;
    height: 440px;
  }
  &:hover {
    box-shadow: 8px 6px 7px 4px rgb(0 0 0 / 3%),
      0 8px 26px -4px rgb(0 0 0 / 10%);
    border: solid 1px #dce8ef;
    border-radius: 8px;
    transition: all 0.5s ease;
    transform: scale(1) translateY(0.5%);
  }
  &-img {
    @media screen and (max-width: 1050px) {
      width: 150px;
    }
    @media screen and (max-width: 839px) {
      width: 120px;
    }
    @media screen and (max-width: 770px) {
      width: 180px;
    }
    @media screen and (max-width: 610px) {
      width: 200px;
    }
    @media screen and (max-width: 420px) {
      width: 240px;
    }
  }
  &__text {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    @media screen and (max-width: 839px) {
      font-size: 14px;
    }
  }

  &__addCart {
    background-color: white;
    position: absolute;
    bottom: -20px;
    font-size: 50px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: #323232;
    cursor: pointer;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
    color: #fa8b0f;
    margin-bottom: 30px;
  }

  .rating-star {
    cursor: pointer;
    color: #efb810;
  }
}
